<p id="notice"><%= notice %></p>

<p>
  <b>Contact name:</b>
  <%= @contact.contact_name %>
</p>

<p>
  <b>Contact email:</b>
  <%= @contact.contact_email %>
</p>

<p>
  <b>User:</b>
  <%= @contact.user_id %>
</p>

<p>
  <b>Contact type:</b>
  <%= @contact.contact_type %>
</p>

<p>
  <b>Contact from:</b>
  <%= @contact.contact_from %>
</p>

<p>
  <b>App user:</b>
  <%= @contact.app_user_id %>
</p>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
